<div class="reset-container">
  <mat-card class="reset-card">
    <div class="reset-content">
      <h2>Restablecer contraseña</h2>
      <p>Ingresá una nueva contraseña para tu cuenta.</p>

      <form [formGroup]="form" (ngSubmit)="resetPassword()">
        <!-- Nueva contraseña -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nueva contraseña</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Ingresá la nueva contraseña"
          />
          <mat-error *ngIf="form.get('password')?.hasError('required')">
            (*) Campo obligatorio
          </mat-error>
          <mat-error *ngIf="form.get('password')?.hasError('minlength')">
            La contraseña debe tener al menos 8 caracteres
          </mat-error>
        </mat-form-field>

        <!-- Confirmar contraseña -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Confirmar contraseña</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirm"
            placeholder="Repetí la nueva contraseña"
          />
          <mat-error *ngIf="form.get('confirm')?.hasError('required')">
            (*) Campo obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Botón -->
        <button
          mat-raised-button
          color="primary"
          class="btn-guardar"
          type="submit"
          [disabled]="form.invalid || loading"
        >
          <ng-container *ngIf="!loading; else loaderTpl">CONFIRMAR</ng-container>
        </button>

        <ng-template #loaderTpl>
          <div class="loading-content">
            <mat-spinner diameter="22" class="custom-spinner"></mat-spinner>
            <span>Guardando...</span>
          </div>
        </ng-template>
      </form>
    </div>
  </mat-card>
</div>
