.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #fcf2dd;
}

.reset-card {
  width: 450px;
  padding: 2rem;
  background-color: #ffffff;
  color: #2b3e4c;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #2b3e4c;
  }

  p {
    text-align: center;
    margin-bottom: 2rem;
    color: #555;
  }

  .full-width {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .btn-guardar {
  background-color: #2b3e4c;
  color: #ffffff;
  width: 100%;
  padding: 0.75rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
  }

  &:disabled {
    background-color: #a3a9ad !important; // gris
    color: #ffffff !important;
    cursor: not-allowed;
    opacity: 0.8;
  }
}



  .loading-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    font-weight: 600;
    color: var(--color-on-secondary);
  }

  .custom-spinner ::ng-deep circle {
    stroke: var(--color-on-secondary) !important;
  }
}