<div class="admin-container">
  <div class="admin-header">
    <h1>
       <mat-icon class="header-icon">settings</mat-icon>
      PANEL DE ADMINISTRACIÓN
    </h1>
    <p>
      <mat-icon class="help-icon">info</mat-icon>
      Gestione las configuraciones principales del sistema OVIF
    </p>
  </div>

  <div class="admin-actions">
    <!-- Usuarios -->
    <mat-card class="admin-card" routerLink="/admin/usuarios">
      <mat-card-title class="card-title">Administración de Usuarios</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">group</mat-icon>
        <p class="card-description">
          Gestione cuentas de usuario: creación, edición y deshabilitación.
        </p>
      </div>
    </mat-card>

    <!-- Municipios -->
    <mat-card class="admin-card" routerLink="/admin/municipios">
      <mat-card-title class="card-title">Administración de Municipios</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">location_city</mat-icon>
        <p class="card-description">
          Consultá, creá o actualizá los datos de cada municipio con buscador y paginado.
        </p>
      </div>
    </mat-card>

    <!-- Asignación Municipios -->
    <mat-card class="admin-card" routerLink="/admin/asignacion-municipios">
      <mat-card-title class="card-title">Asignación de Municipios</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">map</mat-icon>
        <p class="card-description">
          Define qué municipios puede gestionar cada usuario del sistema.
        </p>
      </div>
    </mat-card>

    <!-- Ejercicios -->
    <mat-card class="admin-card" routerLink="/admin/ejercicios">
      <mat-card-title class="card-title">Ejercicios Fiscales</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">event_note</mat-icon>
        <p class="card-description">
          Administre la creación, edición y/o actualización de los ejercicios fiscales, fechas de apertura y cierre generales.
        </p>
      </div>
    </mat-card>

    <!-- Prórrogas -->
    <mat-card class="admin-card" routerLink="/admin/prorroga-cierre">
      <mat-card-title class="card-title">Prórrogas de Cierre</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">schedule</mat-icon>
        <p class="card-description">
          Administrá las prórrogas de cierre por municipio y periodo fiscal.
        </p>
      </div>
    </mat-card>

    <!-- Roles -->
    <mat-card class="admin-card" routerLink="/admin/roles">
      <mat-card-title class="card-title">Roles y Permisos</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">admin_panel_settings</mat-icon>
        <p class="card-description">
          Configure los roles y asigne permisos de acceso a los distintos módulos del sistema.
        </p>
      </div>
    </mat-card>

    <!-- Auditorías -->
    <mat-card class="admin-card" routerLink="/admin/auditorias">
      <mat-card-title class="card-title">Auditorías</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">fact_check</mat-icon>
        <p class="card-description">
          Revise y supervise los cambios realizados en el sistema mediante los registros de auditoría.
        </p>
      </div>
    </mat-card>

    <!-- Convenios -->
    <mat-card class="admin-card" routerLink="/admin/convenios">
      <mat-card-title class="card-title">Administración de Convenios</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">description</mat-icon>
        <p class="card-description">
          Consultá, creá o actualizá los datos de cada convenio con buscador y paginado.
        </p>
      </div>
    </mat-card>

    <!-- Pautas -->
    <mat-card class="admin-card" routerLink="/admin/pautas">
      <mat-card-title class="card-title">Administración de Pautas</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">rule</mat-icon>
        <p class="card-description">
          Consultá, creá o actualizá los datos de cada pauta con buscador y paginado.
        </p>
      </div>
    </mat-card>

    <!-- Logs -->
    <mat-card class="admin-card" routerLink="/admin/logs">
      <mat-card-title class="card-title">Logs del Sistema</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">description</mat-icon>
        <p class="card-description">
          Consultá y supervisá los logs del sistema para monitorear su funcionamiento y detectar posibles incidencias.
        </p>
      </div>
    </mat-card>

    <!-- Configuración de Parametros -->
    <mat-card class="admin-card" routerLink="/admin/parametros">
      <mat-card-title class="card-title">Parametros de Configuración</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">tune</mat-icon>
        <p class="card-description">
          Cree, edite y configure parámetros generales del sistema.
        </p>
      </div>
    </mat-card>
  </div>
</div>
