.municipios-admin-container {
  padding: 2rem;
  background-color: var(--color-neutral);
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

@media (max-width: 768px) {
  .municipios-admin-container {
    padding: 1rem;
  }
}
