.header {
  background-color: #2B3E4C;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 3rem;

  .logo-left {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      height: 60px;
    }

    h3 {
      margin: 0;
      font-size: 1.2rem;
      font-weight: bold;
    }

    p {
      margin: 0;
      font-size: 0.85rem;
      color: #cfd8dc;
    }
  }

  .logos-right {
    display: flex;
    gap: 2rem;
    align-items: baseline;
    justify-content:space-between;
    img {
      height: 45px;
    }
  }


  .logos-center{
    display: flex;
    gap: 2rem;
    justify-content:space-between;
    img {
      height: 50px;
    }
  }

   .logo-gobierno {
    display: flex;
    gap: 2rem;
    justify-content:space-between;
    img {
      height: 55px;
    }
  }

  
}
