<header class="header">
  <div class="logo-left">
    <img src="assets/img/logo_ovif.png" alt="OVIF" />
  </div>
  <div class="logos-center">
    <img src="assets/img/coordinacion_municipios.svg" alt="Coordinación de Relaciones Fiscales con Municipios" />
  </div>
  <div class="logos-right">
    <div class="logo-gobierno">
      <img src="assets/img/logo_gobierno.svg" alt="Gobierno del Neuquén" />
    </div>
    <img src="assets/img/logo_neuquen.svg" alt="Provincia del Neuquén" />
  </div>
</header>