.usuarios-container {
  padding: 2rem;
  background-color: var(--color-neutral);
  min-height: calc(100vh - 120px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usuarios-header {
  width: 100%;
  max-width: 1100px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .breadcrumb {
    font-size: 0.95rem;
    color: var(--color-primary-dark);

    .breadcrumb-link {
      cursor: pointer;
      color: var(--color-secondary-dark);
      text-decoration: underline;

      &:hover {
        color: var(--color-secondary);
      }
    }

    .breadcrumb-current {
      font-weight: bold;
      margin-left: 0.3rem;
    }
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 600;
  }
}

.filtros-card {
  width: 100%;
  max-width: 1100px;
  margin-bottom: 1rem;
  background: var(--color-surface);
  padding: 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);

  .filtro-form {
    display: grid;
    grid-template-columns: 1fr auto; // campo buscador + botón
    gap: 1rem;
    align-items: end;

    mat-form-field {
      width: 100%;
    }

    button {
      height: 56px; // igual al alto del mat-form-field
    }
  }
}

.usuarios-card {
  width: 100%;
  max-width: 1100px;
  background: var(--color-surface);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

mat-card-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .header-icon {
    font-size: 28px;
    color: var(--color-secondary);
  }

  mat-card-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-primary);
  }
}

.usuarios-table {
  width: 100%;
  margin-top: 1rem;

  th {
    font-weight: bold;
    color: var(--color-primary-dark);
    font-size: 0.95rem;
    border-bottom: 2px solid rgba(var(--color-primary-rgb), 0.2);
    padding: 0.5rem;
  }

  td {
    font-size: 0.95rem;
    padding: 0.5rem;
    color: var(--color-on-surface);
  }
}

mat-chip {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 50px;   // 👈 mismo radio para ambos
  padding: 0.2rem 0.8rem;
  --mdc-chip-outline-color: transparent !important;

  &.mat-primary {
    background-color: #C6EFCE !important; // verde claro Excel
    color: #006100 !important;            // verde oscuro Excel
  }

  &.mat-warn {
    background-color: #F8D7DA !important; // rojo claro
    color: #721C24 !important;            // rojo oscuro
  }
}

.sin-resultados {
  font-size: 1rem;
  text-align: center;
  color: var(--color-primary-dark);
  font-weight: 500;
  padding: 1rem 0;
}

.fab-add {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
