/* ===== Estructura general ===== */
.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* separa los campos */
  padding: 1.5rem;
}

.full-width {
  width: 100%;
}

.toggle-wrapper {
  margin-top: 0.5rem;
}

/* ===== Botones ===== */
.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
  border-top: 1px solid #eee;
}

.btn-cancelar {
  border-color: #2b3e4c !important;
  color: #2b3e4c !important;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: #2b3e4c !important;
    color: #fff !important;
  }
}

.btn-guardar {
  background-color: #2b3e4c !important;
  color: #fff !important;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-secondary, #2c610c) !important;
    color: #000000 !important;
  }

  mat-icon {
    font-size: 18px;
    margin-right: 4px;
  }
}

/* ===== Campos readonly ===== */
input[readonly] {
  background-color: #e0e2ec;
  cursor: not-allowed;
}

/* ===== Título ===== */
h2[mat-dialog-title] {
  color: #2b3e4c;
  margin: 0;
  padding: 1rem 1.5rem;
  font-weight: 600;
  align-items: center;

}

.dialog-title-icon {
  font-size: 25px;
  color: #2b3e4c;
  vertical-align: text-top;

  margin-top: 1px;
  /* pequeño ajuste óptico */
}