.usuarios-container {
  padding: 2rem;
  background-color: var(--color-neutral);
  min-height: calc(100vh - 120px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.filtros-card {
  .filtro-form {
    grid-template-columns: 2fr 1fr 1fr auto;
  }
}

@media (max-width: 900px) {
  .filtros-card .filtro-form {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .usuarios-container {
    padding: 1rem;
  }

  .filtros-card .filtro-form {
    grid-template-columns: 1fr;
  }
}
