<div class="municipios-container">
  <div class="municipios-card">
    <h2 class="municipios-title">Seleccione un municipio</h2>

    <div *ngIf="municipios.length > 1; else unicoMunicipio">
      <div class="municipio-list">
        <div
          *ngFor="let m of municipios"
          class="municipio-item"
          (click)="seleccionar(m)"
        >
          <mat-icon class="municipio-icon">location_city</mat-icon>
          <span>{{ m.municipio_nombre }}</span>
        </div>
      </div>
    </div>

    <ng-template #unicoMunicipio>
      <div class="municipio-unico">
        <mat-icon>check_circle</mat-icon>
        <p>Municipio seleccionado automáticamente.</p>
      </div>
    </ng-template>
  </div>
</div>
