<div class="login-container">
  <mat-card class="login-card">
    <div class="login-left">
      <img src="assets/img/salto_agrio.svg" alt="Fotografía del Salto del Agrio" />
    </div>

    <div class="login-right">
      <h2>BIENVENIDO</h2>
      <p>Inicie sesión con sus credenciales.</p>

      <form [formGroup]="form" (ngSubmit)="onLogin()">
        <!-- Usuario -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre de usuario</mat-label>
          <input matInput formControlName="usuario" placeholder="Ingrese su usuario" />
          <mat-error *ngIf="form.get('usuario')?.hasError('required')">
          (*) El usuario es obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Contraseña -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Ingrese su contraseña" />
          <mat-error *ngIf="form.get('password')?.hasError('required')">
            (*) La contraseña es obligatoria
          </mat-error>
        </mat-form-field>

        <!-- Botón con loader -->
        <button mat-raised-button color="primary" class="btn-ingresar" type="submit" [disabled]="form.invalid || loading">
          <ng-container *ngIf="!loading; else loadingTpl">
            INGRESAR
          </ng-container>
        </button>

        <ng-template #loadingTpl>
          <mat-spinner diameter="24"></mat-spinner>
        </ng-template>

        <!-- Error global -->
        <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
      </form>
    </div>
  </mat-card>
</div>
