.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; // Ajusta la altura según sea necesario
  background-color: #FCF2DD; // color de fondo similar al diseño
}

.login-card {
  display: flex;
  flex-direction: row;
  max-width: 855px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.login-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; // Eliminamos el padding para que la imagen ocupe todo el espacio
  background-color: #2B3E4C; // Color de fondo opcional

  img {
    width: 100%; // La imagen ocupará todo el ancho del contenedor
    height: 100%; // La imagen ocupará todo el alto del contenedor
    object-fit: cover; // Asegura que la imagen se ajuste sin deformarse
    object-position: center; // Centra la imagen dentro del contenedor
  }
}

.login-right {
  flex: 1;
  padding: 2rem;
  background-color: #2B3E4C;
  color: #F4E0B6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  p {
    margin-bottom: 2rem;
    color: #F4E0B6;
  }

  .full-width {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .btn-ingresar {
    background-color: #6ab04c !important; // verde del botón
    color: #ffffff;
    width: 100%;
    padding: 0.75rem;
    font-weight: bold;
    width: auto; // Ajusta el ancho al contenido del texto
  }

form {
  width: 100%; // Asegura que el formulario ocupe todo el ancho disponible
  display: flex; // Habilita flexbox en el formulario
  flex-direction: column; // Organiza los elementos en columna
  align-items: center; // Centra los elementos horizontalmente
}

}
