// Estilos generales que ya tenías
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #FCF2DD;
}

.login-card {
  display: flex;
  flex-direction: row;
  max-width: 855px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.login-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #2B3E4C;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.login-right {
  flex: 1;
  padding: 2rem;
  background-color: #2B3E4C;
  color: #F4E0B6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  p {
    margin-bottom: 2rem;
    color: #F4E0B6;
  }

  .full-width {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .btn-ingresar {
    background-color: #6ab04c !important;
    color: #ffffff;
    width: 100%;
    padding: 0.75rem;
    font-weight: bold;
    width: auto;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // 👇 override de mensajes de error
   ::ng-deep .mat-mdc-form-field-error {
    color: #fcf2dd !important;  // 👈 texto del color que pediste
    font-weight: 500;
  }

  // error global (debajo del botón)
  .error {
    color: #fcf2dd;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    font-weight: 500;
  }
}