<div class="login-container">
  <mat-card class="login-card">
    <div class="login-left">
      <img src="assets/img/salto_agrio.svg" alt="Fotografía del Salto del Agrio" />
    </div>

    <div class="login-right">
      <h2>BIENVENIDO</h2>
      <p>Inicie sesión con sus credenciales.</p>

      <form>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre de usuario</mat-label>
          <input matInput placeholder="Ingrese su usuario" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" placeholder="Ingrese su contraseña" />
        </mat-form-field>

        <button mat-raised-button color="primary" class="btn-ingresar">
          INGRESAR
        </button>
      </form>
    </div>
  </mat-card>
</div>
