:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-shell {
  display: flex;
  min-height: 100vh;
  flex: 1 0 auto;
  flex-direction: column;
}

.app-content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: 0;
  background-color: var(--color-neutral);
}
