:host {
  display: block;
  flex: 1 0 auto;
  min-height: 100%;
}

.app-main {
  display: flex;
  flex: 1 0 auto;
  min-height: 100%;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--color-neutral);
}
