<div class="mantenimiento-container">
  <div class="mantenimiento-content">
    <img src="assets/img/ovif_mantenimiento.png" alt="Sitio en mantenimiento" class="mantenimiento-image" />

    <h1 class="mantenimiento-title">
      Estamos realizando mantenimiento a <span class="brand-name">OVIF</span>
    </h1>

    <p class="mantenimiento-subtitle">
      Estamos trabajando para mejorar tu experiencia.<br />
      El sitio estará disponible nuevamente en breve.
    </p>

    <mat-card class="admin-helper-card admin-card">
      <div class="helper-content">
        <mat-icon color="primary">info</mat-icon>
        <div class="helper-text-container">
          <h3>Agradecemos tu comprensión.</h3>
          <hr />
          <p>
            Si necesitás ayuda, contactá con la Coordinación de Relaciones Fiscales con los Municipios
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
