<div class="panel-menu-container">
  <div class="panel-menu-header">
    <h1>
      <mat-icon class="header-icon">dashboard</mat-icon>
      MENU PRINCIPAL DE GESTIÓN MUNICIPAL
    </h1>
    <p>
      <mat-icon class="help-icon">info</mat-icon>
      Elegí qué acción querés realizar sobre la información fiscal del municipio.
    </p>
  </div>

  <div class="panel-menu-actions">
    <mat-card class="panel-menu-card" routerLink="/panel-carga-mensual/carga">
      <mat-card-title class="card-title">Menú de carga mensual</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">calendar_month</mat-icon>
        <p class="card-description">
          Carga de gastos, recursos, remuneraciones y recaudaciones del municipio para los ejercicios fiscales habilitados.
        </p>
      </div>
    </mat-card>

    <mat-card class="panel-menu-card" routerLink="/historico-ejercicios-cerrados">
      <mat-card-title class="card-title">Menú de rectificaciones</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">edit_note</mat-icon>
        <p class="card-description">
          Carga de las rectificaciones de remuneraciones y recaudaciones del mes anterior inmediato.
        </p>
      </div>
    </mat-card>

    <mat-card class="panel-menu-card" routerLink="/grilla-ejercicios-historicos">
      <mat-card-title class="card-title">Grilla de ejercicios históricos</mat-card-title>
      <div class="card-content">
        <mat-icon class="card-icon">history_toggle_off</mat-icon>
        <p class="card-description">
          Ver los registros historicos que han sido cargados por el municipio para los distintos ejercicios fiscales y convenios.
        </p>
      </div>
    </mat-card>
  </div>
</div>
