.solicitar-prorroga-container {
  padding: 16px;
  max-width: 1400px;
  margin: 0 auto;
}

.prorroga-tabs {
  margin-top: 16px;
}

.tab-content {
  margin-top: 16px;
}

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
