<footer class="footer">

  <div class="footer-columns">
    <div class="footer-links">
      <ul><i class="fa-solid fa-square-up-right"></i> Accesos rápidos
        <hr />
        <li>
          <a class="footer-links" href="https://www.economianqn.gob.ar/" target="_blank" rel="noopener noreferrer">
            Ministerio de Economía, Producción e Industria
          </a>
        </li>
        <li>Autoridades</li>
        <li>Administración</li>
        <li>Subsecretaría de Hacienda</li>
        <li>Subsecretaría de Ingresos Públicos</li>
        <li>Organismos</li>
        <li>Noticias</li>
      </ul>
    </div>

    <div class="footer-social-networks">
      <p>Síguenos en nuestras redes sociales:</p>
      <a class="footer-links" href="https://x.com/Mineconomianqn" target="_blank" rel="noopener noreferrer" aria-label="X (antes Twitter)">
        <i class="fa-brands fa-square-x-twitter"></i>
      </a>
      <a class="footer-links" href="https://www.instagram.com/minecoprodindnqn/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a class="footer-links" href="https://www.facebook.com/ministerioeconomianeuquen" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
    </div>

    <div class="footer-contact">
      <p><i class="fa-solid fa-landmark"></i>Ministerio de Economía, Producción e Industria</p>
      <p><i class="fa-solid fa-location-dot"></i>Rioja 229, Neuquén. CP: (Q8300ALE)</p>
      <p><i class="fa-solid fa-envelope"></i>municipios&#64;haciendagnn.gob.ar</p>
      <p><i class="fa-solid fa-phone"></i> 299 449-5551 / 5335</p>
      <br>
      <p><i class="fa-solid fa-map-location-dot"></i><a class="footer-links" href="https://www.argentina.gob.ar/justicia/chicosextraviados" target="_blank" rel="noopener noreferrer" aria-label="Chicos extraviados"> Chicos extraviados </a>- <a class="footer-links" href="https://infoleg.neuquen.gov.ar/Leyes/Ley_3151.pdf?_gl=1*ezy8o*_ga*MjAxMDIzODUwMi4xNzM0MzY0Mzk5*_ga_WN5C0KQX6C*czE3NjEzMjQyOTQkbzE0JGcxJHQxNzYxMzI0MzkxJGoyNiRsMCRoMA..*_ga_6J339SD501*czE3NjEzMjQyOTQkbzE0JGcxJHQxNzYxMzI0MzkxJGoyNiRsMCRoMA" target="_blank" rel="noopener noreferrer" aria-label="Ley N° 3151">Ley N° 3151<i class="fa-regular fa-file"></i></a></p>
      <p><i class="fa-solid fa-phone"></i>"Trata de personas es esclavitud. Si sabés algo, denuncialo al 145." Ley N° 3186 <i class="fa-regular fa-file"></i></p>
    </div>
  </div>

  <div class="footer-developer">
    <p><i class="fa-brands fa-connectdevelop"></i> Desarrollado por el Área de Tecnologías para Gobiernos Locales</p>
  </div>

</footer>

<div class="footer-gobierno">
  <p>
    <i class="fa-regular fa-copyright"></i> 2025 - Gobierno de la Provincia del Neuquén - Todos los derechos reservados
  </p>
</div>