<footer class="footer">
  <div class="footer-links">
    <ul>
      <li>Home</li>
      <li>Autoridades</li>
      <li>Ministerio de Economía, Producción e Industria</li>
      <li>Subsecretaría de Hacienda</li>
      <li>Subsecretaría de Ingresos Públicos</li>
      <li>Organismos</li>
      <li>Noticias</li>
      <li>Administración</li>
      <li>Chicos extraviados - Ley 3151</li>
      <li>
        "Trata de personas es esclavitud. Si sabés algo, denunciá al 145." Ley 3186
      </li>
    </ul>
  </div>

  <div class="footer-contact">
    <p>
      Ministerio de Economía, Producción e Industria <br />
      Dirección: Rioja 229, Neuquén. <br />
      CP: (Q8300ALE)
    </p>
    <p>
      municipios&#64;haciendagnn.gob.ar <br />
      Tel.: 0299 449-5551/5335 - Fax: 0299 449-5355
    </p>
  </div>
</footer>
