<footer class="footer">

  <div class="footer-columns">
    <div class="footer-links">
      <ul><i class="fa-solid fa-square-up-right"></i> Accesos rápidos
        <hr />
        <li>Ministerio de Economía, Producción e Industria</li>
        <li>Autoridades</li>
        <li>Administración</li>
        <li>Subsecretaría de Hacienda</li>
        <li>Subsecretaría de Ingresos Públicos</li>
        <li>Organismos</li>
        <li>Noticias</li>
      </ul>
    </div>

      <div class="footer-social-networks">
      <p>Síguenos en nuestras redes sociales:</p>
      <i class="fa-brands fa-square-x-twitter"></i>
      <i class="fa-brands fa-square-facebook"></i>
    </div>

    <div class="footer-contact">
      <p><i class="fa-solid fa-landmark"></i>Ministerio de Economía, Producción e Industria</p>
      <p><i class="fa-solid fa-location-dot"></i>Rioja 229, Neuquén. CP: (Q8300ALE)</p>
      <p><i class="fa-solid fa-envelope"></i>municipios&#64;haciendagnn.gob.ar</p>
      <p><i class="fa-solid fa-phone"></i> 299 449-5551 / 5335</p>
      <br>
      <p><i class="fa-solid fa-map-location-dot"></i> Chicos extraviados - Ley N° 3151<i class="fa-regular fa-file"></i></p>
      <p><i class="fa-solid fa-phone"></i>"Trata de personas es esclavitud. Si sabés algo, denuncialo al 145." Ley N° 3186 <i class="fa-regular fa-file"></i></p>
    </div>
  </div>

  <div class="footer-developer">
    <p><i class="fa-brands fa-connectdevelop"></i> Desarrollado por el Área de Tecnologías para Gobiernos Locales</p>
  </div>

</footer>

<div class="footer-gobierno">
  <p>
    <i class="fa-regular fa-copyright"></i> 2025 - Gobierno de la Provincia del Neuquén - Todos los derechos reservados
  </p>
</div>